<!-- App badge section-->
<section class="bg-gradient-primary-to-secondary" id="download">
	<div class="container px-5">
		<h2 class="text-center text-white font-alt mb-4">Dèja {{ links }} liens partagés sur Short Link !</h2>
	</div>
</section>
