<!-- Footer-->
<footer class="bg-black text-center py-5">
	<div class="container px-5">
		<div class="text-white-50 small">
			<div class="mb-2">Short Link 2021. With ❤ by <a href="https://yoandev.co">YoanDev</a>.</div>
		</div>
	</div>
</footer>
