<!-- Quote/testimonial aside-->
<aside class="text-center bg-gradient-primary-to-secondary">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-xl-8">
				<div class="h2 fs-1 text-white mb-4">"Vous manquez de place pour terminer votre meilleur tweet ou finir de remplir votre bio Instagram ? Avec Short Link, gagnez de la place !"</div>
			</div>
		</div>
	</div>
</aside>
